<html>
<head>
  <title>MySchool Вхід</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Логін"/>
      <input type="password" placeholder="Пароль"/>
      <button>login</button>
      <p class="message">Не зареєстровані? <a href="/register">Створити аккаунт</a></p>
    </form>
  </div>
</div>