
<!DOCTYPE html>
<html>
<head>
    <title>MySchool Вхід</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <p class="name">MySchool вхід</p>
            <input type="text" id="login" placeholder="Логін"/>
            <input type="password" id="password" placeholder="Пароль"/>
            <button id="enter" onclick="checkForUser()">login</button>
            <p class="message">Не зареєстровані? <a href="/register">Створити аккаунт</a></p>
        </form>
    </div>
</div>
<script type="text/javascript">
    function checkForUser(request, response) {
        let login = request.body.login
        let password = request.body.password

        user.getUserByMail(login(),function (info, err) {
            if (err) alert("error login or password") ;
            if (password.equals(password)){
                response.redirect("/student/cabinet"+ info.id)
            }
        })
    }
</script>
</body>