
<!DOCTYPE html>
<html>
<head>
    <title>MySchool Вхід</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" id="login" placeholder="Логін"/>
            <input type="password" id="password" placeholder="Пароль"/>
            <button id="enter">login</button>
            <p class="message">Не зареєстровані? <a href="/register">Створити аккаунт</a></p>
        </form>
    </div>
</div>