
<!DOCTYPE html>
<html>
<head>
    <title>MySchool Вхід</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="auth" method="POST">
            <p class="name">MySchool вхід</p>
            <input type="text" name="username" id="username" placeholder="Логін" required>
            <input type="password" name="password" id="password" placeholder="Пароль" required>
            <input type="submit">
            <p class="message">Не зареєстровані? <a href="/register">Створити аккаунт</a></p>
        </form>
    </div>
</div>
</body>