<h1 class="logo">Logo</h1>
<nav>
    <ul class="navigation">
        <li><a href="/student/schedule">Розклад</a></li>
        <li><a href="/student/tasks">Завдання</a></li>
        <li><a href="/student">Профіль</a></li>
    </ul>
</nav>
<a class="cta" href="/cabinet"><img src="/images/user-pic.png"></a>