<h1 class="logo">Logo</h1>
<nav>
    <ul class="navigation">
        <li><a href="/">Розклад</a></li>
        <li><a href="/events">Завдання</a></li>
        <li><a href="/cabinet">Профіль</a></li>
    </ul>
</nav>
<a class="cta" href="/cabinet"><img src="/images/user-pic.png"></a>